<nav  class="navbar navbar-expand-md navbar-dark bg-dark" style="margin-bottom: 15px; border-radius: 25px;background-image: linear-gradient(to right, blue , cyan);">
<div class="container">
  <img src="/images/logo.PNG" style="width: auto; height: auto; margin-top: auto;margin-bottom: auto; margin-left: auto; margin-right: auto;"></img>
<a href="/profile">Profile <i class="fa fa-home"></i></a>
<a href="/logout">Logout <i class="fa fa-sign-out"></i></a>

</div>
</nav>
</nav>
<h2 style="font: italic bold 24px/60px Georgia, serif;"><center>{{viewTitle}}</h2></center>
<form action="/property" method="POST" autocomplete="off" style=" background-image: linear-gradient(to bottom, white , rgb(221, 221, 221)); border-radius:25px; padding:15px">
    <input type="hidden" name="_id" value="{{property._id}}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{property.fullName}}">
        <div class="text-danger">
            {{property.fullNameError}}</div>
    </div>
  
    
    <div class="form-row">
            </div>
             <div class="form-group col-md-6">
                <label>Location</label>
                <input type="text" class="form-control" name="location" placeholder="location" value="{{property.location}}">
            </div>
            <div class="form-group col-md-6">
                <label>Address</label>
                <input type="text" class="form-control" name="address" placeholder="Address" value="{{property.address}}">
            </div>
            <div class="form-group col-md-6">
                <label>Estimated Amount</label>
                <input type="text" class="form-control" name="amount" placeholder="amount" value="{{property.amount}}">
            </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-info" style=" background-image: linear-gradient(to left, rgb(0, 162, 255) ,blue); border-radius: 25px;padding: 14px 25px;"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/property/listproperty"><i class="fa fa-list-alt"></i> View All</a>
    
</form>